body {
  background-color: black;
}

#game-area {
  margin: 0 auto;
  width: 200px;;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.square {
  background-color: white;
  border: 1px solid blue;
  width: 20px;
  height: 20px;
}

.green {
  background-color: green;
}

/* 194 195 196 185 */